input{
    background-color:aquamarine;
    color:brown;
}
table{
    color: whitesmoke;
    border-collapse: collapse;
    width: auto;
    height: auto;
    box-shadow: 9px 7px 10px red;
    border-style: double;
    border: double;
    border-color: blue;
    margin-left: auto;
    margin-right: auto;
    background-color:bisque;
    background-image: url(/images/orsrc43181.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: drop-shadow(30%);
    filter: drop-shadow(40%);
    background-attachment: scroll;
    background-blend-mode:darken;
}
